<% if @pics.any? %>
  <% @pics.each do |pic| %>
<!-- ADD A FRAME HERE SO EACH PIC IS ON A NEW LINE! -->
      <div>
          <%= link_to pic.message, pic_path(pic) %>
          <%= link_to "delete #{pic.message}", pic_path(pic), method: :delete %>
          <% end %>
      </div>

  <% else %>
    <h3> no pics yet! </h3>
<% end %>

<br> <a href=pics/new> add a pic </a>

