<% if @posts.any? %>
  <% @posts.each do |post| %>
<!-- ADD A FRAME HERE SO EACH post IS ON A NEW LINE! -->
      <div>
          <%= link_to post.message, post_path(post) %>
          <%= link_to "delete #{post.message}", post_path(post), method: :delete %>
          <% end %>
      </div>

  <% else %>
    <h3> no posts yet! </h3>
<% end %>

<br> <a href=posts/new> add a post </a>

