
<!-- UPDATE FORM with actual HTML FORM code -->
<%= form_for @post do |f| %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.submit %>
<% end %>
<br><a href=/posts> back to all posts </a>
